{% extends 'base.html' %}



{% block title %}
<title>download dataframes</title>
{% endblock %}

{% block pagetitle %}
View your dataframes
{% endblock %}



{% block content %}

{% autoescape off %}

<div>

    <button type="button" class="btn btn-primary">
        <a>Save Table</a>
    </button>

</div>

{{output}}

{% endautoescape %}




<script>

    $(document).ready(function() {
        const table = document.querySelector("table");
        let secondColumnELements = getColumnElementsByIndexColumn(table, 1);
        labelHeaders();

        $('.findandreplace').click(function(){
            var indexColumn = $(this)
                .parent().attr('data-col-index');
            let data = getColumnElementsByIndexColumn(table, indexColumn);
            $.each(data, function(i){
                console.log(data[i]);
            });
        });

    });

    function labelHeaders() {
        var c = document.querySelectorAll('thead tr th');
        if ( c ) {
            for (i = 0; i < c.length; i++){
                c[i].setAttribute('data-col-index',i); // Used to refer to it in pandas data
            }
        }
    }

    /**
    * 
    * @param {Object} table: the table dom selector 
    * @param {indexColumn} number: start count with 0 
    * @returns Array with the column element selected by index column
    */
    function getColumnElementsByIndexColumn(table, indexColumn) {
        const tableRows = table.querySelectorAll("tr");
        let columnElements = [];

        for (row of tableRows) {
            let columnElement = row.children[indexColumn];
            columnElements.push(columnElement);
        }

        return columnElements;
    }

</script>

{% endblock %}